/* Service Cards Layout */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }

[data-theme="dark"] .services-container {
    background-color: #1e1e1e;
}
  
  .service-card {
    background: linear-gradient(135deg, #C33764, #1D2671); /* Gradient background for the card */
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #f9f9f9; /* Light text color for general text */
  }

[data-theme="dark"] .service-card {
    background: linear-gradient(135deg, #333, #555);
}
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  /* Card Header Styles */
  .service-card h2 {
    color: white; /* White color for the header */
    margin-bottom: 1rem;
  }
  
  .service-card p {
    font-size: 1rem;
    color: #ffcc00; /* Example complementary color for paragraph text */
  }
  
  /* Responsive Service Cards */
  @media (max-width: 768px) {
    .services-container {
      padding: 1rem;
    }
  
    .service-card {
      padding: 1rem;
    }
  }
  